/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Canaro', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
header {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}
header .signup-stylist {
  width: 60rem;
  padding: 2rem 0 2rem 0;
}
header .signup-stylist a {
  padding-right: 3rem;
  font-size: 1.4rem;
  color: black;
  text-decoration: none;
}
header .signup-stylist a:hover {
  color: #e83e8c;
  text-decoration: underline;
}
header .signup-client {
  width: 60rem;
  text-align: right;
  padding: 2rem 0 2rem 0;
}
header .signup-client a {
  padding-left: 3rem;
  font-size: 1.4rem;
  color: black;
  text-decoration: none;
}
header .signup-client a:hover {
  color: #e83e8c;
  text-decoration: underline;
}
.logo-nav {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}
.logo-nav div {
  width: 60rem;
  margin: 5rem;
}
.logo-nav .home-navbar {
  width: 60rem;
  text-align: right;
  font-size: 2rem;
  padding-top: 3rem;
}
.logo-nav .home-navbar nav a {
  padding-left: 2rem;
  color: black;
  text-decoration: none;
}
.logo-nav .home-navbar nav a:hover {
  color: #e83e8c;
  text-decoration: underline;
}
.logo-nav .home-navbar nav .home-login {
  color: #e83e8c;
}
.logo-nav .home-navbar nav .home-login:hover {
  color: #000000;
  text-decoration: underline;
}
.top-image {
  background-image: url("../images/pink-beautiful-hair.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  height: 100rem;
}
.top-image .top-text {
  position: absolute;
  top: 55%;
  left: 10%;
  color: #ffffff;
}
.top-image .top-text h1 {
  width: 1200px;
  font-size: 20rem;
  text-align: center;
  opacity: 0.75;
}
.top-content {
  display: flex;
  width: 100%;
}
.top-content div {
  margin: 0 2rem 0 2rem;
  border: 1px solid #e83e8c;
  padding: 1rem;
}
.top-content div h1 {
  text-align: center;
  margin-bottom: 2rem;
}
.month-stylist {
  width: 100%;
  margin-bottom: 2rem;
}
.month-stylist div {
  margin: 2rem 5rem 0 5rem;
}
.bottom-content {
  background-color: #e83e8c;
  border: 1px solid #000000;
}
.bottom-content .contact-info {
  text-align: center;
  color: #f8f9fa;
  padding-top: 1rem;
}
.bottom-content .bottom-links {
  text-align: center;
  padding: 2rem 2rem 2rem 0;
}
.bottom-content .bottom-links nav a {
  color: #000000;
  font-size: 1.6rem;
  text-decoration: none;
  padding-right: 15rem;
}
.bottom-content .bottom-links nav a:hover {
  color: #ffffff;
  text-decoration: underline;
}
footer {
  text-align: center;
  color: #e83e8c;
  background-color: #000000;
  padding: 1rem 0 1rem 0;
}
