




header{ 
  
    /* background-image: url("../images/mainheader.jpg"); 
    /* background-size: cover; */
  margin: 0 auto;
  display: block;
  padding-bottom: 51px;
  height: 100%;
  width: 100%;
  transition: all 0.4s;
} 









/*base styles start here

/* #iframe {
    margin: 0 auto;
    display: block;
    padding-bottom: 51px;
    height: 100%;
    width: 100%;
    transition: all 0.4s;
} */