/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Montserrat', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Canaro', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
  color: black;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
}
@media (max-width: 500px) {
  .container {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }
}
header {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}
header .headerimage {
  background-image: url("../images/mainheader.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  height: 80rem;
  width: 100%;
}
header .headerimage .headertext {
  position: absolute;
  color: #ffffff;
  margin-left: -12rem;
}
@media (max-width: 500px) {
  header .headerimage .headertext {
    width: 500px;
    overflow-wrap: normal;
    margin-left: 0;
  }
}
header .headerimage .headertext h1 {
  margin-left: 40rem;
  font-size: 10rem;
  text-align: center;
  opacity: 0.75;
  text-shadow: 1rem 1rem pink;
}
@media (max-width: 500px) {
  header .headerimage .headertext h1 {
    margin-left: -0.8rem;
    font-size: 12rem;
  }
}
header a {
  padding-right: 0.2rem;
  font-size: 1.4rem;
  color: black;
  text-decoration: none;
}
header a:hover {
  color: #e83e8c;
  text-decoration: underline;
}
a {
  padding-left: 0.2rem;
  font-size: 1.4rem;
  color: black;
  text-decoration: none;
}
a:hover {
  color: #e83e8c;
  text-decoration: underline;
}
.navcontainer {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
}
@media (max-width: 500px) {
  .navcontainer {
    flex-direction: column;
  }
}
.navcontainer div {
  width: 60rem;
}
@media (max-width: 500px) {
  .navcontainer div {
    width: 50rem;
  }
}
.navcontainer div .logo {
  margin: 5rem 5rem 5rem 5rem;
  width: 30%;
  padding-bottom: 30%;
}
@media (max-width: 500px) {
  .navcontainer div .logo {
    margin-left: 5rem;
    width: 80%;
  }
}
.navcontainer div .navbar {
  display: flex;
  width: 100%;
  text-align: left;
  font-size: 2rem;
  padding-bottom: 55rem;
  margin: 5rem 5rem 5rem 0;
}
@media (max-width: 500px) {
  .navcontainer div .navbar {
    width: 500px;
    text-align: center;
    margin: 0;
    padding: 0 0 5rem 0;
  }
}
@media (max-width: 500px) {
  .navcontainer div .navbar nav {
    display: flex;
    flex-direction: column;
  }
}
.navcontainer div .navbar nav a {
  padding-left: 2rem;
  color: black;
  text-decoration: none;
}
@media (max-width: 500px) {
  .navcontainer div .navbar nav a {
    padding-left: 0;
    font-size: 8rem;
  }
}
.navcontainer div .navbar nav a:hover {
  color: #e83e8c;
  text-decoration: underline;
}
.navcontainer div .navbar nav .home-login {
  color: #e83e8c;
}
.navcontainer div .navbar nav .home-login:hover {
  color: #000000;
  text-decoration: underline;
}
#page-container {
  position: relative;
  min-height: 100vh;
  background-color: white;
}
#content-wrap {
  padding-bottom: 2.5rem;
  /* Footer height */
}
#footer {
  text-align: center;
  color: #e83e8c;
  background-color: #000000;
  padding: 1rem 0 1rem 0;
  height: 3rem;
  width: 100%;
  bottom: 0;
  display: flex;
  align-content: flex-end;
}
@media (max-width: 500px) {
  #footer {
    color: #000000;
    background-color: #e83e8c;
  }
}
.bottomcontact {
  background-color: #e83e8c;
  border: 1px solid #000000;
  width: 100%;
  position: absolute;
}
@media (max-width: 500px) {
  .bottomcontact {
    background-color: #000000;
  }
}
.bottomcontact .contact-info {
  text-align: center;
  color: #f8f9fa;
  padding-top: 1rem;
}
@media (max-width: 500px) {
  .bottomcontact .contact-info {
    color: #e83e8c;
  }
}
.bottomnav {
  text-align: center;
  padding-bottom: 1rem;
}
@media (max-width: 500px) {
  .bottomnav {
    width: 500px;
    margin-left: 3rem;
  }
}
@media (max-width: 500px) {
  .bottomnav nav {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-left: -3rem;
  }
}
.bottomnav nav a {
  color: #000000;
  font-size: 1.6rem;
  text-decoration: none;
  padding-right: 5rem;
}
@media (max-width: 500px) {
  .bottomnav nav a {
    color: #ffffff;
    padding-right: 0;
    font-size: 5rem;
    padding-bottom: 1rem;
  }
}
.bottomnav nav a:hover {
  color: #ffffff;
  text-decoration: underline;
}
@media (max-width: 500px) {
  .bottomnav nav a:hover {
    color: #e83e8c;
  }
}
/*may add additional image*/
body {
  max-width: 1000px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
body h2 {
  font-size: 10rem;
  text-align: center;
  opacity: 0.75;
  text-shadow: 1rem 1rem pink;
}
body main {
  display: flex;
}
body main .aboutcontainer {
  display: flex;
  height: 100%;
  width: 100%;
  padding-top: 20%;
  padding-right: 10%;
}
@media (max-width: 500px) {
  body main .aboutcontainer {
    flex-direction: column;
  }
}
body main .aboutcontainer div img {
  margin: 0 2rem 0 2rem;
  border: 1px solid #e83e8c;
  padding: 1rem;
}
@media (max-width: 500px) {
  body main .aboutcontainer div img {
    margin-bottom: 2rem;
  }
}
body main .aboutcontainer .aboutteamimages {
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-right: 70px;
  border-radius: 20px;
}
body main .aboutcontainer img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 20px;
}
body main .aboutcontainer h3 {
  font-size: 2rem;
  line-height: 20px;
  margin: auto;
  padding: 5%;
  color: pink;
}
@media (max-width: 500px) {
  body main .navcontainer {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 3%;
  }
}
@media (max-width: 500px) {
  body main .aboutteamimages img h3 {
    width: 48%;
    flex-wrap: wrap;
  }
}
@media (max-width: 500px) {
  body main .h3 {
    font-size: 1rem;
  }
}
h3 {
  font-size: 2rem;
  line-height: 20px;
  margin: auto;
  padding: 5%;
  text-align: center;
  color: pink;
}
@media (max-width: 500px) {
  yelpreviews {
    display: flex;
    flex-direction: column;
  }
}
.column {
  float: left;
  width: 25%;
  padding: 10px;
}
.column img {
  opacity: 0.8;
  cursor: pointer;
}
.column img:hover {
  opacity: 1;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.container {
  position: relative;
  display: none;
}
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
.row {
  padding-bottom: 70%;
}
* {
  box-sizing: border-box;
}
.container {
  padding: 16px;
}
input[type=text],
input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=text]:focus,
input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.registerbtn {
  background-color: pink;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.registerbtn:hover {
  opacity: 1;
}
/* Add a blue text color to links */
a {
  color: dodgerblue;
}
/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
* {
  box-sizing: border-box;
}
.container {
  padding: 20px;
}
input[type=text],
input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=text]:focus,
input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.registerbtn {
  background-color: pink;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.registerbtn:hover {
  opacity: 1;
}
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
@media (max-width: 500px) {
  .container {
    width: 48%;
  }
}
