
.section
{  display: flex;
    // flex-wrap: wrap;
    width: 100%;
    margin-top:20%;
    justify-content:space-between;
    align-content: center;
}




.aboutteamimages {
     justify-content:space-between;
     align-content: center;
     width: 100%;

    img {
      width: 28%;
   margin: 20px 2.5%;
       border-radius: 20px;     
        height: 100%;
    }
 }

