body {
  max-width: 1000px;
  width: 100%;
  height: 100%;
  margin: 0 auto;

  ///signup styles
  header {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;



    .signup-stylist {
      width: 60rem;
      padding: 2rem 0 2rem 0;
      margin-left: 2rem;

      a {
        padding-right: 0.2rem;
        font-size: 1.4rem;
        

       

        //closes hover  
      }

      //close a
    }

    //closes .signup-stylist
    .signup-client {
      width: 60rem;
      text-align: right;
      padding: 2rem 0 2rem 0;
      margin-right: 2rem;

      a {
        padding-left: 0.2rem;
        font-size: 1.4rem;
      

       

        @media @mobile {
          margin-left: 20%;
        
        }

       
      }

      
    }

   
  }

 

  h2 {
    text-align: center;
    // margin-bottom: 2rem;
    // margin-left: 40rem;
    font-size: 10rem;
    text-align: center;
    opacity: 0.75;
    color: pink; 
    text-shadow: 1rem 1rem lightslategray;
  }

  .topheader {
    display: flex;
    justify-content: center;

    @media @mobile {
      flex-direction: column;
    }

  }

  main {
    display: flex;


    .aboutcontainer {
      display: flex;
      height: 100%;
      width: 100%;

      padding-top: 10%;
      padding-right: 10%;
      padding-left: 10%;

      @media @mobile {
        flex-direction: column;
      }


      div img {
        margin: 0 2rem 0 2rem;
        border: 1px solid @pink;
        padding: 1rem;

        @media @mobile {
          margin-bottom: 2rem;
        }






      }



      .aboutteamimages {

        justify-content: space-between;
        flex-wrap: wrap;
        align-content: center;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding-right: 70px;
        // padding-bottom:100px;

        border-radius: 20px;
      }

      img {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        border-radius: 20px;
      }

      h3 {
        font-size: 2rem;
        line-height: 20px;
        margin: auto;
        padding: 5%;
        color: pink;

      }

      h4 {
        font-size: 1rem;
        line-height: 10px;
        margin: auto;
        padding: 5%;
        color: pink;

      }

      p {
        font-size: 1rem;
        line-height: 5px;
        text-align: center;
        margin: .1rem 3rem 2rem 3rem;
        // padding: 5%;
        color: pink;
      }


    }



    @media @mobile {
      .navcontainer {
        width: 100%;
        height: 100%;
        display: flex;
      }

      .navbar {
        justify-content: center;
        margin-left: 10%;
      }

    }

    //  .about .aboutteamimages {
    //     width: 48%;
    //     height:48%;
    //     padding-left: 1%;

    //   }

    //   @media (max-width: 500px) {
    //     .about  {
    //       width: 100%;
    //       padding: 0;
    //       display:flex;

    //     }
    //   }
    @media (max-width: 500px) {
      .aboutteamimages img h3 {
        width: 48%;
        flex-wrap: wrap;
        // width: 40px;
        // height: 205px;

      }
    }


    @media(max-width: 500px) {
      .h3 {
        font-size: 1rem;

      }
    }

    // @mobile:~ "(max-width: 500px)";
  }
}