body {
    margin: auto;
    font-family: 'Montserrat',

}



header{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  

    .logo{
        height:60px
    }
    .cornerlogo{
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
    }
  div{
    width: 100%;
    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
}
  }


@mobile:~ "(max-width: 500px)";