h3{
    font-size: 2rem;
    line-height: 20px;
    margin: auto;
    padding: 5%;
    text-align:center;
    color: pink;
}

@media @mobile{
    yelpreviews{
        display:flex;
        flex-direction: column;
    } 
}